.idea/

.DS_Store

__pycache__/
*/__pycache__/

data/fb-forum.csv
data/ia-contact.csv
data/ia-contacts_hypertext2009.csv
data/ia-enron-employees.csv
data/ia-radoslaw-email.csv
data/soc-wiki-elec.csv
data/wikipedia_msg.txt
data/wikipedia_neg.csv

# unused code
code_bak.py
models/message.py
models/multi_hop_neighbor_loader.py
models/last_neighbor_loader.py
models/edge_memory.py
utils/
