# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\GNN\TE-Conv\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
